/* asap-regular - latin */
@font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/asap-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Asap Regular'), local('Asap-Regular'),
         url('../fonts/asap-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/asap-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/asap-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/asap-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/asap-v11-latin-regular.svg#Asap') format('svg'); /* Legacy iOS */
  }
  
  /* asap-600 - latin */
  @font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/asap-v11-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Asap SemiBold'), local('Asap-SemiBold'),
         url('../fonts/asap-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/asap-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/asap-v11-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/asap-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/asap-v11-latin-600.svg#Asap') format('svg'); /* Legacy iOS */
  }
  

body {
    color: #222;
    background-color: #fffff8 !important;
}

a.sp {
    color: #222 !important;
    position: relative;
}

a.sp::before {
    content: "";
    position: absolute;
    width: 104%;
    height: 35%;
    right: -5%;
    top: 53%;
    background: #1e7e3469;
    z-index: -1;
}

.sp {
    color: #222 !important;
    position: relative;
    width: max-content;
}

.sp::before {
    content: "";
    position: absolute;
    width: 104%;
    height: 35%;
    right: -5%;
    top: 53%;
    background: #1e7e3469;
    z-index: -1;
}

.inner-link {
    color: #222;
    transition: color .2s ease-in-out,border-color .2s ease-in-out;
}
.inner-link:hover {
    color: #1e7e34;
    text-decoration: none;
}
.inner-link:active {
    color: #1e7e34;
}

.inner-link i {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.nolink {
    cursor: initial;
}
a.sp:hover {
    text-decoration: underline !important;
    text-decoration-skip-ink: auto;
}

a.sp2 {
    color: #1e7e34 !important;
    position: relative;
}
@media (max-width: 600px) {
    a.sp2 {
        text-decoration: underline !important;
        text-decoration-skip-ink: auto;
    }
}
a.sp2:hover {
    text-decoration-skip-ink: auto;
}



u {
    text-decoration: none;
    border-bottom: 2px solid #1e7e34;
}
.font {
    font-family: 'Asap-SemiBold', sans-serif;
}
.side-font {
    font-family: 'courier-std' ,monospace;
    font-size: 1.50rem;
}
.nav-custom {
    background-color: #fffff8;
    padding: 0 !important;
}
.nav-scroll {
    box-shadow: -1px 1px 20px 0px #8888881f;
}
.nav-name {
    font-weight: 900;
    font-size: 3rem !important;
}
.nav-inner-text {
    display: inline;
    margin-right: 15px;

}
@media (max-width: 650px) {
    .nav-inner-text {
        display: inline;
        margin-left: 20px;
    }
}
@media (max-width: 400px) {
    .nav-name {
        font-size: 2rem !important;
    }
    .nav-inner-text{
        margin-right: 0px;
     }
}
.navbar-text {
    padding-right: 20px;
}
.list-group-item-custom {
    list-style-type: none;
}

.outer-margins {
    margin: 40px 40px;
}
@media (max-width: 450px) {
    .outer-margins {
        margin: 3px;
        padding: 12px;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 20px;
    grid-template-areas: ". . .";
}
@media (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 0.1fr;
        grid-template-rows: 1fr;
        gap: 10px 20px;
        grid-template-areas: ". . .";
    }
} 
@media (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: unset;
    }
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 20px;
    grid-template-areas: ". . .";
}

@media (max-width: 800px) {
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: unset;
    }
}

.btn-outline-primary {
    color: #1e7e34 !important;
    background-color: transparent;
    background-image: none;
    border-color: #1e7e34 !important;
}
.btn-outline-primary:hover {
    color: white !important;
    background-color: #1e7e34 !important;
    background-image: none;
    border-color: #007bff !important;
}

.project-item {
    
    margin-bottom: 40px;
    font-size: 1.50rem;
}

.project-item div {
    border-radius: 6px;
    -webkit-box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.desc-font {

    color: #222 !important;
    font-size: 1rem;
}
.desc-font p{
    padding-left: 15px;
}
.desc-font:hover {
    text-decoration: none !important;
}

.blur-img {
    border-radius: 6px;
    background-image: url("/assets/images/gpacalc.png");
    filter: blur(8px);
    -webkit-filter: blur(1px);
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.proj-img {
    height: 10em;
}