
@font-face {
    font-family: 'asap_semiboldregular';
    src: url('/assets/fonts/webfontkit-20200901-195457/asap-v11-latin-600-webfont.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20200901-195457/asap-v11-latin-600-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.displaynone {
    display: none;

}
/* intro section */
.navy-rectangle-bg {
    height: auto;
    width: 100%;
    background-color: #1B4566;

}

a.sp {
    color: #f8f8ec;
    position: relative;
    font-weight: 900;
    font-size: 3rem ;
}

a.sp::before {
    content: "";
    position: absolute;
    width: 104%;
    height: 28%;
    right: -4%;
    top: 60%;
    background: rgba(39, 79, 109, 0.753);
    z-index: -1;
}

.sp {
    color: #f8f8ec;
    position: relative;
    width: fit-content;
    font-weight: 900;
    font-size: 2.25rem ;
}
.div-intro {
    padding: 0 3em 3em 3em;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-template-rows: 1fr 1fr; 
}
.div-intro-b1 {
    padding-top: 25%;

}
.div-intro-b2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    overflow: auto;
}
.div-intro-b3 {
    padding-left: 1em;
    grid-row-start: 3;
}
.div-intro-b3-text {
    text-align: center;

    color: #f8f8ec;
    padding-bottom: 20px;
}

.btn-outline-primary-intro {
    text-align: center;
    width: 100%;
    color: #f8f8ec;
    background-color: rgb(24, 56, 80);
    background-image: none;
}
.btn-outline-primary-intro:hover {
    text-align: center;
    width: 100%;
    color: #f8f8ec;
    background-color: rgb(69 121 160);
    background-image: none;
}
/* /intro section */


/* about section */
.section-about {
    padding: 3em;
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    grid-gap: 7em;
}
.section-about-svg svg{
    width: 100%;
}
.about-rectangle {
    width: 125px;
    height: 2px;
    margin: 15px 0px 35px 0px;
    background: #363636c7;
    border-radius: 6px;
}
.about-title-text {
    font-family: 'asap_semiboldregular', sans-serif;
    font-weight: 700;
    color: #363636;
    font-size: 2em;
}
.about-body-text {
    font-family: 'asap_semiboldregular', sans-serif;
    font-weight: 400;
    color: #363636c8;
    font-size: 1em;
}
.about-list {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.about-list ul li {
    list-style-type: none;
}

.about-list ul li:before {
    content: '*';
    font-size: 20px;
    vertical-align: sub;
    margin: 0 15px 0 10px;
} 

/* /about section */



/* projects section */
.section-project-background {
    background-image: url(/assets/images/lines.svg);
    height: 100%;
    position: absolute;
    background-position: center;
    left: -30px;
    border: 20px solid #363636;
    background-size: 100%;
    width: 120%;
}

/* /projects section */
.top-nav {
    height: 82px;
}
body {
    color: #222;
    background-color: #f8f8ec;
}




.inner-link {
    color: #222;
    transition: color .2s ease-in-out,border-color .2s ease-in-out;
}
.inner-link:hover {
    color: #4c80aa;
    text-decoration: none;
}
.inner-link:active {
    color: #4c80aa;
}

.inner-link i {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.nolink {
    cursor: initial;
}

a.sp2 {
    color: #1B4566;
    position: relative;
}
@media (max-width: 600px) {
    a.sp2 {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
    }
}
a.sp2:hover {
    text-decoration-skip-ink: auto;
}



u {
    text-decoration: none;
    border-bottom: 2px solid #1B4566;
}
.font {
    font-family: 'asap_semiboldregular', sans-serif;
}
.side-font {
    font-family: 'courier-std' ,monospace;
    font-size: 1.50rem;
}
.nav-custom {
    background-color: #1B4566;
    padding: 0;
    color: #6D9FC6;
}
.nav-scroll {
    /* box-shadow: -1px 1px 20px 0px #8888881f; */
}
.nav-name {
    font-weight: 900;
    font-size: 3rem;
}
.nav-inner-text {
    color: #396588;
    display: inline;
    margin-right: 15px;

}
@media (max-width: 650px) {
    .nav-inner-text {
        display: inline;
        margin-left: 20px;
    }
}
@media (max-width: 400px) {
    .nav-name {
        font-size: 2rem;
    }
    .nav-inner-text{
        margin-right: 0px;
     }
}
.navbar-text {
    padding-right: 20px;
}
.list-group-item-custom {
    list-style-type: none;
}

.outer-margins {
    margin: 40px 40px;
}
@media (max-width: 450px) {
    .outer-margins {
        margin: 3px;
        padding: 12px;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 20px;
    grid-template-areas: ". . .";
}
@media (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 0.1fr;
        grid-template-rows: 1fr;
        gap: 10px 20px;
        grid-template-areas: ". . .";
    }
} 
@media (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: unset;
    }
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 20px;
    grid-template-areas: ". . .";
}

@media (max-width: 800px) {
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: unset;
    }
}



.project-item {
    
    margin-bottom: 40px;
    font-size: 1.50rem;
}

.project-item div {
    border-radius: 6px;
    -webkit-box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.desc-font {

    color: #222;
    font-size: 1rem;
}
.desc-font p{
    padding-left: 15px;
}
.desc-font:hover {
    text-decoration: none;
}

.blur-img {
    border-radius: 6px;
    background-image: url("/assets/images/gpacalc.png");
    filter: blur(8px);
    -webkit-filter: blur(1px);
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.proj-img {
    height: 10em;
}