
@font-face {
    font-family: 'asap_semiboldregular';
    src: url('/assets/fonts/webfontkit-20200901-195457/asap-v11-latin-600-webfont.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20200901-195457/asap-v11-latin-600-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.displaynone {
    display: none;

}
/*  */
.navy-rectangle-bg {
    height: 30em;
    width: 100%;
    background-color: #1B4566;

}
.div-intro {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-template-rows: 1fr 1fr; 
}
.div-intro-b1 {
    padding-top: 5%;
    grid-column-start: two;
    grid-column-end: three;
    grid-row-start: one;

}
.div-intro-b2 {
    grid-column-start: four;
    grid-column-end: five;
    grid-row-start: two;
}
/*  */



.top-nav {
    height: 82px;
}
body {
    color: #222;
    background-color: #f8f8ec;
}

a.sp {
    color: #f8f8ec;
    position: relative;
    font-weight: 900;
    font-size: 3rem ;
}

a.sp::before {
    content: "";
    position: absolute;
    width: 104%;
    height: 28%;
    right: -4%;
    top: 60%;
    background: rgba(39, 79, 109, 0.753);
    z-index: -1;
}

.sp {
    color: #f8f8ec;
    position: relative;
    width: max-content;
    font-weight: 900;
    font-size: 2.25rem ;
}


.inner-link {
    color: #222;
    transition: color .2s ease-in-out,border-color .2s ease-in-out;
}
.inner-link:hover {
    color: #4c80aa;
    text-decoration: none;
}
.inner-link:active {
    color: #4c80aa;
}

.inner-link i {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.nolink {
    cursor: initial;
}

a.sp2 {
    color: #1B4566;
    position: relative;
}
@media (max-width: 600px) {
    a.sp2 {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
    }
}
a.sp2:hover {
    text-decoration-skip-ink: auto;
}



u {
    text-decoration: none;
    border-bottom: 2px solid #1B4566;
}
.font {
    font-family: 'asap_semiboldregular', sans-serif;
}
.side-font {
    font-family: 'courier-std' ,monospace;
    font-size: 1.50rem;
}
.nav-custom {
    background-color: #1B4566;
    padding: 0;
    color: #6D9FC6;
}
.nav-scroll {
    box-shadow: -1px 1px 20px 0px #8888881f;
}
.nav-name {
    font-weight: 900;
    font-size: 3rem;
}
.nav-inner-text {
    color: #396588;
    display: inline;
    margin-right: 15px;

}
@media (max-width: 650px) {
    .nav-inner-text {
        display: inline;
        margin-left: 20px;
    }
}
@media (max-width: 400px) {
    .nav-name {
        font-size: 2rem;
    }
    .nav-inner-text{
        margin-right: 0px;
     }
}
.navbar-text {
    padding-right: 20px;
}
.list-group-item-custom {
    list-style-type: none;
}

.outer-margins {
    margin: 40px 40px;
}
@media (max-width: 450px) {
    .outer-margins {
        margin: 3px;
        padding: 12px;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 20px;
    grid-template-areas: ". . .";
}
@media (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 0.1fr;
        grid-template-rows: 1fr;
        gap: 10px 20px;
        grid-template-areas: ". . .";
    }
} 
@media (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: unset;
    }
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 20px;
    grid-template-areas: ". . .";
}

@media (max-width: 800px) {
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: unset;
    }
}

.btn-outline-primary {
    color: #1B4566;
    background-color: transparent;
    background-image: none;
    border-color: #1B4566;
}
.btn-outline-primary:hover {
    color: white;
    background-color: #1B4566;
    background-image: none;
    border-color: #007bff;
}

.project-item {
    
    margin-bottom: 40px;
    font-size: 1.50rem;
}

.project-item div {
    border-radius: 6px;
    -webkit-box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.desc-font {

    color: #222;
    font-size: 1rem;
}
.desc-font p{
    padding-left: 15px;
}
.desc-font:hover {
    text-decoration: none;
}

.blur-img {
    border-radius: 6px;
    background-image: url("/assets/images/gpacalc.png");
    filter: blur(8px);
    -webkit-filter: blur(1px);
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.proj-img {
    height: 10em;
}